.table {
  margin:auto;
  width: 630px;
  min-width: 630px;
  height: 630px;
  min-height: 630px;
  border: 3px solid darkcyan;
  background-color: honeydew;
  border-collapse: collapse;
}

.next-marbles{
  margin:auto;
  text-align:center;
}

.cell {
  width: 70px;
  height: 70px;
  border: 1px solid darkcyan;
}

.selected {
  background-color: white;

}

.selected .marble {
  box-shadow: 0 0 20px 10px yellow;
}

.marble {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.marble.red {
  background-color: red;
  border:1px solid darkred;
  width: 68px;
  height: 68px;
}

.marble.green {
  background-color: forestgreen;
  border:1px solid darkgreen;
  width: 68px;
  height: 68px;
}

.marble.orange {
  background-color: orange;
  border:1px solid orangered;
  width: 68px;
  height: 68px;
}

.marble.lightblue {
  background-color: lightskyblue;
  border:1px solid dodgerblue;
  width: 68px;
  height: 68px;
}

.marble.blue {
  background-color: blue;
  border:1px solid darkblue;
  width: 68px;
  height: 68px;
}

.marble.yellow {
  background-color: yellow;
  border:1px solid orange;
  width: 68px;
  height: 68px;
}

.marble.purple {
  background-color: rebeccapurple;
  border:1px solid gray;
  width: 68px;
  height: 68px;
}

.marble.checked {
  background-color: white;
}



.next-marble.marble{
  display: inline-block;
  margin:5px;
  width: 20px;
  height: 20px;
}
